*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.navbar{
    height: 4rem;
    display: flex;
    -ms-flex-align: baseline;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: rgb(255, 255, 255);
}
.navbar__logo{
    height: 1.5rem;
    width: auto;
}
.navbar__ul{
    display: inline-flex;
    padding-left: 2rem;
    list-style: none;
}
.navbar__li{
    padding: 1rem;
    color: black;
}
.slider{
    position: relative;
    display:inline-block;
    width: 100vw;
    max-width: 100%;
}
.slider__image{
    width: 100vw;
    max-width: 100%;
    height: auto;
}
.slider__title{
    margin: 1.5rem;
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    color: white;
    top: 30%;
}
.slider__subtitle{
    margin: 1.5rem;
    font-size: 1.75rem;
    font-weight: 200;
    position: absolute;
    color: white;
    top: 45%;
}
.content{
    display:flex;
    flex-direction: column;
    margin: 1.5rem;
    gap:1rem;
}
.card{
    border: black;
}
.card__image{
    height: 30rem;
    width: auto;
}
.card__title{
    font-size: 1.5rem;
    font-weight: 400;
}
.card__text{
    font-size: 1rem;
    font-weight: 200;
}
.card__button{
    font-size: 1rem;
    font-weight: 400;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
}
.footer{
    display: flex;
    background-color: rgb(34, 34, 34);
    color:white;
    justify-content: space-between;
    align-items: stretch;
}

.footer__column{
    margin: 1.5rem;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__title{
    font-weight: 400;
    font-size: 1.5rem;
}

.footer__social{
    font-weight: 300;
    font-size: 1rem;
}

.footer__section{
    color:white;
    font-size: 1rem;
    font-weight: 200;
}

/* Agrego animaciones */